<header class="header-container">
  <div class="button-container">
    <button class="lang-button" [disabled]="currentLang === 'pt'" (click)="navigateToLanguage('pt')">
      🇧🇷 PT
    </button>
    <button class="music-button" (click)="toggleMusicForLanguage(currentLang)">
      <img src="../../assets/heart_favicon/heart.ico" alt="Music Icon">
    </button>
    <button class="lang-button" [disabled]="currentLang === 'en'" (click)="navigateToLanguage('en')">
      🇺🇸 EN
    </button>
  </div>
</header>