.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(3, 13, 33);
  position: fixed; 
  width: 100%;
  top: 0;
  transition: top 0.3s;
  z-index: 1000; 
}

.header-container.hide {
  top: -60px; 
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.music-button {
  background: none; 
  border: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.music-button img {
  width: 30px; 
  height: 30px;
}

.music-button:hover {
  transform: scale(1.2); 
  opacity: 0.8; 
}

.lang-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  background-color: rgb(255 78 109);
  border-radius: .25em;
  border-color: rgb(255 78 109);
  color: rgb(243 244 246);
  font-style: normal;
  font-weight: 600;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.lang-button:hover:not(:disabled) {
  background-color: rgb(255 100 130);
  color: rgb(243 244 246);
  transform: scale(1.2); 
}

.lang-button:disabled {
  background-color: transparent;
  border-color: transparent;
  color: rgb(243 244 246);
  cursor: not-allowed;
  transition: background-color 0.3s, color 0.3s;
  opacity: 0.8; 
}

@media screen and (max-width: 600px) {
  .lang-button {
    width: 40px;
    height: 15px;
    font-size: 10px;
  }

  .button-container {
    gap: 10px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .lang-button {
    width: 50px;
    height: 20px;
    font-size: 12px;
  }

  .button-container {
    gap: 15px;
  }
}
