.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(3, 13, 33);
  position: fixed; /* Tornar o header fixo para que ele desapareça ao rolar */
  width: 100%;
  top: 0;
  transition: top 0.3s; /* Suave transição quando ocultar/reaparecer */
  z-index: 1000; /* Ficar acima de outros elementos */
}

.header-container.hide {
  top: -60px; /* Esconder o header ao fazer scroll para baixo */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.lang-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 20px;
  background-color: rgb(255 78 109);
  border-radius: .25em;
  border-color: rgb(255 78 109);
  color: rgb(243 244 246);
  font-style: normal;
  font-weight: 600;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
}

/* Responsividade para dispositivos pequenos (smartphones) */
@media screen and (max-width: 600px) {
  .lang-button {
    width: 40px;
    height: 15px;
    font-size: 10px;
  }

  .button-container {
    gap: 10px;
  }
}

/* Responsividade para tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .lang-button {
    width: 50px;
    height: 20px;
    font-size: 12px;
  }

  .button-container {
    gap: 15px;
  }
}
