<app-header></app-header>
<main class="main-container">
  <div class="large-container">
    <div class="content-container">
      <div class="card">
        <img [src]="imageSwitcherService.getCurrentImage()" alt="EuEVoce" />
      </div>
      <div class="footer-text-time-together">
        <span *ngIf="language === 'pt'">Juntos</span>
        <span *ngIf="language === 'en'">Together</span>
        
        <span *ngIf="language === 'pt'">
          {{ timeTrackingService.years }} anos, {{ timeTrackingService.months }} meses, {{ timeTrackingService.days }} dias
        </span>
        <span *ngIf="language === 'en'">
          {{ timeTrackingService.years }} years, {{ timeTrackingService.months }} months, {{ timeTrackingService.days }} days
        </span>

        <span *ngIf="language === 'pt'">
          {{ timeTrackingService.hours }} horas, {{ timeTrackingService.minutes }} minutos e {{ timeTrackingService.seconds }} segundos
        </span>
        <span *ngIf="language === 'en'">
          {{ timeTrackingService.hours }} hours, {{ timeTrackingService.minutes }} minutes and {{ timeTrackingService.seconds }} seconds
        </span>
      </div>
      <div class="footer-line-declaration"></div>
      <div class="footer-text-declaration">
        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas arcu dui, auctor eu mollis in,
          dignissim at enim. Fusce venenatis sodales arcu, a rhoncus nisi convallis posuere. Nam accumsan rutrum
          tincidunt. Etiam volutpat, turpis non luctus pretium, lacus metus porttitor dolor, ut maximus lorem elit sed
          dolor. Nulla congue diam est, eget porta diam viverra fermentum. Pellentesque accumsan tortor sed urna
          condimentum aliquam a sed sapien. Nullam auctor leo ac rhoncus rhoncus. Pellentesque eleifend urna sit amet
          odio auctor placerat. Aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
          arcu dui, auctor eu mollis in, dignissim at enim. Fusce venenatis sodales arcu, a rhoncus nisi convallis
          posuere. Nam accumsan rutrum tincidunt. Etiam volutpat, turpis non luctus pretium, lacus metus porttitor
          dolor, ut maximus lorem elit sed dolor. Nulla congue diam est, eget porta diam viverra fermentum. Pellentesque
          accumsan tortor sed urna condimentum aliquam a sed sapien. Nullam auctor leo ac rhoncus rhoncus. Pellentesque
          eleifend urna sit amet odio auctor placerat. Aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Maecenas arcu dui, auctor eu mollis in, dignissim at enim. Fusce venenatis sodales arcu, a
          rhoncus nisi convallis posuere. Nam accumsan rutrum tincidunt. Etiam volutpat, turpis non luctus pretium,
          lacus metus porttitor dolor, ut maximus lorem elit sed dolor. Nulla congue diam est, eget porta diam viverra
          fermentum. Pellentesque accumsan tortor sed urna condimentum aliquam a sed sapien. Nullam auctor leo ac
          rhoncus rhoncus. Pellentesque eleifend urna sit amet odio auctor placerat. Aliquam erat volutpat.</span>
      </div>
    </div>
  </div>
</main>