<main class="main-container">
  <div class="large-container">
    <div class="content-container">
      <div class="card">
        <img src="../../assets/EuEVoce.jpeg" alt="EuEVoce" />
      </div>
      <div class="footer-text-time-together">
        <span>Juntos</span>
        <span>0 anos, 5 meses, 4 dias</span>
        <span>1 horas, 1 minutos e 0 segundos</span>
      </div>
      <div class="footer-line-declaration"></div>
      <div class="footer-text-declaration">
        <span> oi bb </span>
      </div>
    </div>
  </div>
</main>
